$breakpoints: ( 
    na: 0,
    xs: 320px, // Smartphone
    ms: 375px, // Modern smartphone
    sm: 768px, // Tablets
    md: 992px, // Tablets Landscape and small desktops
    lg: 1200px, // Desktops
    xl: 1800px, // Large Desktop
);

@function bp($bp) {
    @return map-get($breakpoints, $bp);
}
