body {
  font-family: sans-serif;
  text-align: center;
  color: black;
}

body > div {
  max-width: 48rem;
  margin: auto;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 0.5rem solid;
}

div > div {
  width: 15rem;
  height: 15rem;
  font-size: 7.5rem;
  cursor: pointer;
}

div > div:hover {
  background-color: rgba(173,216,230,0.3);
  transition: background-color 0.1s
}