body {
  font-family: sans-serif;
  text-align: center;
  color: black;
}

@media screen and (max-width: 768px) {
  body > div {
    width: 16rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body > div {
    width: 32rem;
  }
}

@media screen and (min-width: 1024px) {
  body > div {
    width: 48rem;
  }
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 0.5rem solid;
  margin: auto;
}

div > div {
  width: 15rem;
  height: 15rem;
  font-size: 7.5rem;
  cursor: pointer;
}

.selected {
  background-color: yellow;
}

.selected:hover {
  background-color: yellow
}

div > div:hover {
  background-color: rgba(173,216,230,0.3);
  transition: background-color 0.1s
}